* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

i {
	font-style: normal;
	margin: 0 6px;
}

#sy-top {
	width: 1280px;
	margin: 0 auto;
}
/*轮播图*/
#test1 {
	z-index: 0;
	width: 1280px;
	height: 500px;
	margin: 0 auto;
}
#sy-lbt{
	margin: 0 auto;
	width: 1280px;
}
#test1 img {
	width: 1280px;
	height: 500px;
	transform: scale(1);
	transition: transform 500ms;
}

li{
	cursor: pointer;
}
/*首页内容*/

.sy-nr {
	overflow: hidden;
	width: 1280px;
	margin: 40px auto;
}

.sy-nr-01 p {
	display: inline-block;
}

.nr-01 span {
	color: #fc5f3c;
	font-size: 23px;
}

.nr-01 p {
	display: inline-block;
	float: right;
	font-size: 13px;
	color: #444444;
}

.nr-01 p i {
	font-style: normal;
	margin: 0 6px;
}

.nr-02 {
	width: 1280px;
	height: 460px;
	margin: 0 auto;
}

.nr-02 .img1 {
	width: 275px;
	height: 462px;
}

.nr-02>div {
	float: left;
}

.nr-02 {
	margin-top: 50px;
}

.nr-02 .img1 img {
	width: 275px;
	height: 460px;
}

.nr-02 .ul1 {
	width: 1005px;
	overflow: hidden;
}

.nr-02 .ul1 li {
	float: left;
}

#sy-lbt {
	position: relative;
}



/*内容2*/

.nr-01-2 span {
	margin-top: 30px;
	color: #008842;
	font-size: 23px;
}

.nr-01-2 p {
	display: inline-block;
	float: right;
	margin-right: 8px;
}


/*第三行*/

.nr-01-3 span {
	margin-top: 30px;
	color: #45c6ce;
	font-size: 23px;
}

.nr-01-3 p {
	display: inline-block;
	float: right;
	margin-right: 8px;
}


/*第四行*/

.nr-01-4 span {
	margin-top: 30px;
	color: #f0c000;
	font-size: 23px;
}

.nr-01-4 p {
	display: inline-block;
	float: right;
	margin-right: 8px;
}

.ul3 {
	width: 900px;
	position: relative;
}

.zuihouli {
	position: absolute;
	top: 0;
	right: 0;
}


/*第五行*/

.nr-01-5 span {
	margin-top: 30px;
	color: #e08683;
	font-size: 23px;
}

.nr-01-5 p {
	display: inline-block;
	float: right;
	margin-right: 8px;
}

.ul3 {
	width: 900px;
	position: relative;
}

.zuihouli {
	position: absolute;
	top: 0;
	right: 0;
}


/*第六行*/

.nr-01-6 span {
	margin-top: 30px;
	color: #b84f00;
	font-size: 23px;
}

.nr-01-6 p {
	display: inline-block;
	float: right;
	margin-right: 8px;
}

.ul3 {
	width: 900px;
	position: relative;
}

.zuihouli {
	position: absolute;
	top: 0;
	right: 0;
}


/*固定定位*/

#fixed1 {
	width: 40px;
	position: fixed;
	left: 30pxpx;
	bottom: 200px;
	cursor: pointer;
	background: white;
	display: none;
}

#fixed1 p {
	width: 40px;
	height: 40px;
	background: #008842;
	color: white;
}

#fixed1 p img {
	width: 40px;
	height: 40px;
}

#fixed1 p span {
	display: inline-block;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
}