
		<style>
			*{
				margin: 0;
				padding: 0;
				list-style-type: none;
			}
			b{
				font-weight: 100;
			}
			#dibu{
				width: 1280px;
				margin: 0 auto;
			}
			.xqq{
				font-size: 20px;
				color: #008842;
				font-weight: 500;
			}
			#dibu-top{
				margin-top: 60px;
				width: 1280px;
				height: 102px;
				overflow: hidden;
				background: #E0E0E0;
			}
			#ul li{
				margin-top: 20px;
				margin-left: 50px;
				
				padding: 5px;
				height: 42px;
				float: left;
			}
			.xq{
				display: inline-block;
				width: 180px;
				height: 42px;
				border-left: 1px dashed gray;
				padding: 10px;
				padding-top: 5px;
				margin-left: 10px
				;
			}
		#dibu-top>.layui-icon{
				font-size: 40px;
				color: #008842;
			}
			.bq{
				
				display: inline-block;
				width: 42px;
				height: 42px;
				text-align: center;
				line-height: 42px;
			}
			#dibu-dibu{
				width: 1280px;
				color: #444444;
			}
			#dibu-bottom-div{
				overflow: hidden;
			}
			#dibu-dibu .layui-icon{
				margin-right: 5px;
				font-size: 20px;
				color: gray;
			}
			.div1{
				margin-left: 110px;
				margin-top: 60px;
			}
			.div1 span{
				color: #444444;
				font-size: 15px;
			}
			.u2 li a:hover{
				color: #008842;
			}
			.u2 li{
				margin-top: 5px;
			}
			.u2{
				height: 130px;
				margin-top: 15px;
				padding-left: 30px;
				padding-top: 0px;
				border-left: 2px dashed #444444;
			}
			.div1{
				float: left;
			}
			#kefu{
				width: 1280px;
				margin: 60px auto 30px;
				text-align: center;
			}
			#kefu p{
				color: #444444;
				font-size: 12px;
			}
			#suoyoutupian{
				width: 1280px;
				margin: 10px auto;
				text-align: center;
			}
			#suoyoutupian p{
				color: #444444;
				font-size: 12px;
			}
			#tupian{
				margin-top: 30px;
				width: 1280px;
				text-align: center;
			}
			#tupian p{
				color: #444444;
				font-size: 15px;
				margin-top: 30px;
			}
			/*#tubiao{
				font-size: 100px;
			}*/
		</style>
	
		<div id="dibu">
			<div id="dibu-top">
				<ul id="ul">
					<li>
						<div class="bq"><i id="tubiao" class="layui-icon layui-icon-website"></i></div>
						<div  class="xq">
							<p>全球精选</p>
							<b>一站式购物方案</b>
						</div>
					</li>
					<li>
						<div class="bq"><i class="layui-icon layui-icon-home"></i></div>
						<div  class="xq">
							<p class="xqq">多仓直发</p>
							<b>次日达配送服务</b>
						</div>
					</li>
					<li>
						<div class="bq"><i class="layui-icon layui-icon-location"></i></div>
						<div  class="xq">
							<p class="xqq">品质严选</p>
							<b>精选正宗品质好食材</b>
						</div>
					</li>
					<li>
						<div class="bq"><i class="layui-icon">&#xe698</i></div>
						<div  class="xq">
							<p class="xqq">天天低价</p>
							<b>会员专属优惠购不停</b>
						</div>
					</li>
				</ul>
			</div>
			<div id="dibu-dibu">
				<div id="dibu-bottom-div">

					<div class="div1">
						<p><i class="layui-icon layui-icon-templeate-1"></i><span>新手指南</span></p>
						<ul class="u2">
							<li><a href="#">账户注册</a></li>
							<li><a href="#">购物流程</a></li>
							<li><a href="#">订购方式</a></li>
							<li><a href="#">悠币说明</a></li>
							<li><a href="#">会员等级</a></li>
						</ul>
					</div>
				
					<div class="div1">
						<p><i class="layui-icon layui-icon-layouts"></i><span>付款方式</span></p>
						<ul class="u2">
							<li><a href="#">支付方式</a>/<a href="#">发票说明</a></li>
							<li><a href="#">礼品卡章程</a></li>
							<li><a href="#">优惠代码</a></li>
							<li><a href="#">卡券购买流程</a></li>
						</ul>
					</div>
				
					<div class="div1">
						<p><i class="layui-icon layui-icon-circle"></i><span>配送方式</span></p>
						<ul class="u2">
							<li><a href="#">配送运费</a></li>
							<li><a href="#">时间及范围</a></li>
						</ul>
					</div>
				
					<div class="div1">
						<p><i class="layui-icon layui-icon-face-smile"></i><span>售后服务</span></p>
						<ul class="u2">
							<li><a href="#">退换货政策</a></li>
							<li><a href="#">退换货流程</a></li>
							<li><a href="#">常见问题</a></li>
							<li><a href="#">极速退款</a></li>
							<li><a href="#">投诉与建议</a></li>
						</ul>
					
					</div>
					<div class="div1">
						<p><i class="layui-icon layui-icon-location"></i><span>关于我们</span></p>
						<ul class="u2">
							<li><a href="#">公司介绍</a></li>
							<li><a href="#">联系我们</a></li>
							<li><a href="#">业务合作</a></li>
							<li><a href="#">诚信举报</a></li>
							<li><a href="#">用户协议</a></li>
							<li><a href="#">隐私协议</a></li>
						</ul>
					</div>
				</div>
				<div id="kefu"><p>客服热线400-000-7788企业采购或团购，请转2号键咨询，周一至周日9:00-21:00</p></div>
				<div id="suoyoutupian"><p>所有图片均受著作权保护，未经许可任何单位与个人不得使用，复制转载摘编，违者必究法律责任</p><p>沪Icp备09008015号&nbsp;Copyright&copy;2005-2019版权所有</p></div>
				<div id="tupian">
					<img src="../../static/图片/底部01.png" />
					<img src="../../static/图片/底部02.png" />
					<img src="../../static/图片/底部03.png" />
					<img src="../../static/图片/底部04.png" />
					<img src="../../static/图片/底部05.png" />
					<img src="../../static/图片/底部07.png" />
					<span>沪公网安备&nbsp;&nbsp;310105020000002号</span>
					<p>违法和不良信息举报电话&nbsp;400-000-7788</p>
				</div>
		</div>
